<section class="films">
  <div class="container">
    <ul class="films__">
      <li class="films__item">
        <img src="./images/film.jpg" alt="" class="films__picture" />
        <h2 class="films__name .text-upper">Greyhound</h2>
        <p class="films__notes">Drama, Action | 2020</p>
      </li>
      <li class="films__item">
        <img src="./images/film.jpg" alt="" class="films__picture" />
        <h2 class="films__name .text-upper">Greyhound</h2>
        <p class="films__notes">Drama, Action | 2020</p>
      </li>
      <li class="films__item">
        <img src="./images/film.jpg" alt="" class="films__picture" />
        <h2 class="films__name .text-upper">Greyhound</h2>
        <p class="films__notes">Drama, Action | 2020</p>
      </li>
      <li class="films__item">
        <img src="./images/film.jpg" alt="" class="films__picture" />
        <h2 class="films__name text-upper">Greyhound</h2>
        <p class="films__notes">Drama, Action | 2020</p>
      </li>
      <li class="films__item">
        <img src="./images/film.jpg" alt="" class="films__picture" />
        <h2 class="films__name text-upper">Greyhound</h2>
        <p class="films__notes">Drama, Action | 2020</p>
      </li>
      <li class="films__item">
        <img src="./images/film.jpg" alt="" class="films__picture" />
        <h2 class="films__name text-upper">Greyhound</h2>
        <p class="films__notes">Drama, Action | 2020</p>
      </li>
      <li class="films__item">
        <img src="./images/film.jpg" alt="" class="films__picture" />
        <h2 class="films__name text-upper">Greyhound</h2>
        <p class="films__notes">Drama, Action | 2020</p>
      </li>
      <li class="films__item">
        <img src="./images/film.jpg" alt="" class="films__picture" />
        <h2 class="films__name text-upper">Greyhound</h2>
        <p class="films__notes">Drama, Action | 2020</p>
      </li>
    </ul>
  </div>
</section>
