<div class="film-info__wrap">
  <div class="film-info">
    <div class="film-info__close">
      <img
        src="./images/close.svg"
        alt="close form"
        class="film-info__close__btn"
      />
    </div>

    <div class="film-info__info">
      <img src="./images/film.jpg" alt="" class="info__img" />
      <div class="info">
        <h2 class="info__title text-upper">A fistfull of lead</h2>
        <ul class="info__list">
          <li class="info__item">
            <p class="info__property">Vote / Votes</p>
            <p class="info__value">
              <span class="info__rating">7.3</span>/<span class="info__cnt"
                >1260</span
              >
            </p>
          </li>
          <li class="info__item">
            <p class="info__property">Popularity</p>
            <p class="info__value">100.2</p>
          </li>
          <li class="info__item">
            <p class="info__property">Original Title</p>
            <p class="info__value text-upper">A fistfull of lead</p>
          </li>
          <li class="info__item">
            <p class="info__property">Genre</p>
            <p class="info__value">Western</p>
          </li>
        </ul>
        <h3 class="info__subtitle text-upper">About</h3>
        <p class="info__note">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <form class="info__form">
          <div class="info__radio-list">
            <label class="info__radio-label">
              <input
                class="info__radio-select visually-hidden"
                type="radio"
                name="select"
                id="watched"
                value="watched"
                checked
              />
              <span class="info__btn-title text-upper">Add to watched</span>
            </label>
            <label class="info__radio-label">
              <input
                class="info__radio-select visually-hidden"
                type="radio"
                name="select"
                id="queue"
                value="queue"
              />
              <span class="info__btn-title text-upper">Add to queue</span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
