<header>
  <div class="container">
    <div class="header">
      <div class="header__first">
        <a href="index.html" class="header__logo">
          <img src="./images/logo.svg" alt="logo" width="24" height="24" />
          <div class="header__title">Filmoteka</div>
        </a>
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item">
              <a href="index.html" class="header__link header__link--active"
                >Home</a
              >
            </li>
            <li class="header__item">
              <a href="library.html" class="header__link">My library</a>
            </li>
          </ul>
        </nav>
      </div>
      <form class="search-form">
        <label class="search-form__label">
          <input
            type="text"
            class="search-form__text"
            placeholder="Movie search"
          />
          <img
            class="search-form__logo"
            src="./images/search.svg"
            alt="Search logotip"
          />
        </label>
        <p class="search-form__err">
          Search result not successful. Enter the correct movie name and
        </p>
      </form>
    </div>
  </div>
</header>
