<section class="pagination">
  <div class="container">
    <ul class="pagination__list">
      <li class="pagination__item pagination__left">
        <img src="./images/arrow-left.svg" alt="" class="pagination__img" />
      </li>
      <li class="pagination__item pagination__item--start">1</li>
      <li class="pagination__item pagination__more pagination__more--left">
        ...
      </li>
      <li class="pagination__item pagination__item--1">13</li>
      <li class="pagination__item pagination__item--2">14</li>
      <li class="pagination__item pagination__item--3 pagination__item--active">
        15
      </li>
      <li class="pagination__item pagination__item--4">16</li>
      <li class="pagination__item pagination__item--5">17</li>
      <li class="pagination__item pagination__more pagination__more--right">
        ...
      </li>
      <li class="pagination__item pagination__item--end">20</li>

      <li class="pagination__item pagination__right">
        <img src="./images/arrow-left.svg" alt="" class="pagination__img" />
      </li>
    </ul>
  </div>
</section>
